<div id="footer">
  <div class="site-width">
    <table id="secondary-menu" width="100%">
      <tbody>
      <tr>
        <td>
          <a href="{{ path('pages.history') }}" class="menu-history">
            <img src="/images/icon.history.png" alt="">
            <span>{{ 'menu.history' | trans }}</span></a>
        </td>
        <td>
          <a href="{{ path('pages.about_us') }}" class="menu-about-us">
            <img src="/images/icon.about_us.png" alt="">
            <span>{{ 'menu.aboutus' | trans }}</span></a>
        </td>
        <td>
          <a href="/blog" class="menu-blog">
            <img src="/images/icon.blog.png" alt="">
            <span>{{ 'menu.blog' | trans }}</span></a>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="footer-address">
      Eberhard 560 Puerto Natales<br/>
      Patagonia - Chile.<br/>
      Tel + 56 61 614420 - Fax + 56 61 614423<br/>
      <a href="mailto:21demayo@chileaustral.com">21demayo@chileaustral.com</a>
    </div>
  </div>
</div>