{% set selected_menu = selected_menu | default('home') %}
<div id="header">
  {% spaceless %}
    <ul id="header-menu">
      <li id="menu-home">
        <a href="{{ path('homepage') }}" title="{{ 'menu.homepage' | trans }}" id="link-to-home">
          <img src="/images/logo.png" width="197" height="97" id="logo-white"/>
        </a>
      </li>
      <li id="menu-routes" class="has-submenu{% if selected_menu == 'routes' %} active{% endif %}">
        <a href="{{ path('routes') }}">{{ 'menu.routes' | trans }}</a>
        {% render controller("SiteBaseBundle:Route:menu_list") %}
      </li>
      <li id="menu-accommodations" class="has-submenu{% if selected_menu == 'accommodation' %} active{% endif %}">
        <a href="{{ path('accommodations') }}">{{ 'menu.accommodation' | trans }}</a>
        {% render controller("SiteBaseBundle:Accommodation:menu_list") %}
      </li>
      <li id="menu-about-us" {% if selected_menu == 'about-us' %}class="active"{% endif %}>
        <a href="{{ path('pages.about_us') }}">{{ 'menu.aboutus' | trans }}</a>
      </li>
      <li id="menu-contacts-blog" class="split">
        <ul>
          <li{% if selected_menu == 'contacts' %} class="active"{% endif %}>
            <a href="{{ path('contact') }}">{{ 'menu.contacts' | trans }}</a>
          </li>
          <li{% if selected_menu == 'blog' %} class="active"{% endif %}>
            <a href="{{ path('blogs.index') }}">{{ 'menu.blog' | trans }}</a>
          </li>
        </ul>
      </li>
    </ul>
    {% render controller('SiteBaseBundle:Language:switch', {
    route: app.request.get('_route'),
    route_params: app.request.get('_route_params'),
    current: app.request.locale
    }) %}
  {% endspaceless %}
</div>