{% block translatable_field_widget %}
  {% set translatable_fields = get_entity_translatable_fields(form.parent.vars.data) %}
  {% if translatable_fields is not empty %}

    {% set languages       = get_languages() %}
    {% set active_language = app.request.locale %}

    <div class="translations-container">
      <ul class="nav nav-tabs translations-tabs enable-tabs">
        {% for key, lang in languages %}
          <li{% if active_language == key %} class="active"{% endif %}><a href="#translations-tabs-{{ form.name }}-{{ key }}">{{ lang }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for key, lang in languages %}
          <div class="tab-pane {% if active_language == key %}active{% endif %}" id="translations-tabs-{{ form.name }}-{{ key }}">
            {% for translatable_field in translatable_fields %}
              {% set fieldkey =  translatable_field ~ ':' ~ key %}
              {% if form[fieldkey] is defined %}
                <div class="translation-field control-group">
                  {{ form_label(form[fieldkey]) }}
                  {{ form_widget(form[fieldkey]) }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock translatable_field_widget %}