{% extends "::base.html.twig" %}

{% block title %}21 May - {{ 'Contact' | trans }}{% endblock title %}
{% block selected_menu %}contact{% endblock selected_menu %}

{% block content %}
  <div class="contact-wrapper">
    <h1>{{ 'Contact' | trans }}</h1>

    <form action="{{ 'contact' }}" method="post">
      {% include "SiteBaseBundle:Contact:base_form.html.twig" %}
    </form>
  </div>
{% endblock content %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets "@SiteBaseBundle/Resources/assets/css/contacts.scss" filter="compass,yui_css" %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}

