{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ accommodation.title }}{% endblock %}
{% block selected_menu %}accommodation{% endblock selected_menu %}

{% block content %}
  <div id="accommodation-container" class="content-pages-container">
    <div class="row">
      <div class="column-right">
        <a href="{{ path('book.accommodation', { slug: accommodation.slug }) }}"
           class="book-item">{{ 'Book' | trans }}</a>
      </div>
    </div>

    <div class="row">
      <div class="column-left">
        <div id="accommodation-primary">
          <h1>{{ accommodation.title }}</h1>

          <div id="accommodation-description">
            {{ accommodation.description | raw }}
          </div>
        </div>
      </div>
      <div class="column-right"></div>
    </div>

    <div class="row">
      <div class="column-left">
        {{ accommodation | uploaded_image('accommodation_big') }}
        {% if accommodation.images | length %}
          <ul class="images-list">
            {% for image in accommodation.images %}
              <li>
                <a href="{{ image | uploaded_image_uri('accommodation_maximum') }}" class="lightbox-image">
                {{ image | uploaded_image('accommodation_images_list') }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div id="secondary-text-container">
            {{ accommodation.secondaryText | raw }}
          </div>
        {% endif %}
      </div>
      <div class="column-right">
        {% for route in accommodation.routes %}
        <div class="sticky-object">
          <h4>
            <a href="{{ path('route', { slug: route.slug }) }}">
              {{ route.title }}
            </a>
          </h4>
          <a href="{{ path('route', { slug: route.slug }) }}">
            {{ route.images[random((route.images | length) - 1 )] | uploaded_image('route_sticky') }}
          </a>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
  "@SiteBaseBundle/Resources/assets/css/accommodation.scss"
  filter="compass, ?yui_css" %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}
