{% block user_block %}
  {{ app.user }} -
  <a href="{{ path('fos_user_security_logout') }}">{{ 'user.logout' | trans({ }, 'messages') }}</a>
  -
  <a href="{{ path('homepage') }}">{{ 'Jump to site homepage' | trans }}</a>
{% endblock %}